{% extends 'base.html' %}

{% block body %} 
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Tweet Analysis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'movies' %}">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'songs' %}">Songs</a>
        </li>
      </ul>
    </div>
</nav>
<br>
<br>
<div class="col-md-6" style="float: left;text-align: center;">
    <div class="card mb-3">
        <h3 class="card-header">Trending Movies</h3>
            {% if movies_names %}
            {% for movie_name in movies_names %}
            <ul class="list-group list-group-flush">
            <li class="list-group-item">{{movie_name}}</li>
            </ul>
            {% endfor %}
            {% endif %}
            <div class="card-body">
                <a href="{% url 'movies' %}" class="btn btn-primary" >Analyze </a>
            </div>
    </div>
</div>
<div class="col-md-6" style="float: right;text-align: center;">
    <div class="card mb-3">
        <h3 class="card-header">Trending Songs</h3>
            {% if songs_names %}
            {% for song_name in songs_names %}
            <ul class="list-group list-group-flush">
            <li class="list-group-item">{{song_name}}</li>
            </ul>
            {% endfor %}
            {% endif %}
            <div class="card-body">
                <a href="{% url 'songs' %}" class="btn btn-primary" >Analyze </a>
            </div>
    </div>
</div>
</div>
{% endblock body %}
